#inline{
    background-color: red;
    display: inline;
    padding: 15px;
    height: 150px;
}

#inline-block{
    background-color: green;
    display: inline-block;
    padding: 15px;
    height: 150px;
}

.Align{
    width: 50%;
    height: 150px;
    border: 2px solid green;
    margin: auto;
}
img{
    display: block;
    margin: auto;
}
.align1{
    width: 50%;
    height: 150px;
    line-height: 150px;
    padding: 0px 200px;
    border: 2px solid green;
    margin: auto;
    text-align: center;

}

.align2{
    width: 50%;
    height: 150px;
    position: relative;
    border: 2px solid green;
}

.sub-div{
    height: 80px;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.div1>p{
    color: blue;
}

.div1+p{
    background-color: green;
}

.div2~p{
    background-color: aqua;
    color:blueviolet;
}
#a1{
    margin-top: 20px;
    display: inline-block;
    border-radius: none;
    text-decoration: none;
    color: #fff;
    background-color: green;
    padding: 20px;
}
#a1:link{
    color:blue;
    opacity: 0.3;
}
#a1:visited{
    background-color: red;
}
#a1:hover{
    opacity: 1;
}
#a1:active{
    background-color: #0000;
}

.text{
    height: 400px;
    width: 400px;
    border: 2px solid green;
}

div.text p:first-child{
    color: red;
}

.text1{
    height: 200px;
    width: 200px;
    border: 2px solid green;
}

div.text1:hover{
    border: 3px dotted red;
}
q:lang(no){
    quotes:"@" "$";
}



